out/
build/
*/target/

meta.json
proguard.log

*/src/main/resources/**/meta.json

**/Thumbs.db
**/.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDEA may break if committed from newer versions or when левая пятка breaks everything.
.idea/*
!.idea/encodings.xml
!.idea/runConfigurations
*.iml

# Дарова, Eclipse (и VSCode)
.settings/
*/bin/

/logs/*
/lib/*

# Windows reserved device names
nul
con
prn
aud
aux
com1
com2
lpt1
lpt2

# Local launcher configuration
local.properties
*.log
